<h1 mat-dialog-title>Edit User</h1>
<div mat-dialog-content>
    <form [formGroup]="updateuserform">
        <mat-form-field appearance="fill">
            <mat-label>name</mat-label>
            <input matInput [formControlName]="'name'">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>lastName</mat-label>
            <input matInput [formControlName]="'lastName'">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>mail</mat-label>
            <input matInput [formControlName]="'mail'">
        </mat-form-field>

        <section class="example-section" [formGroup]="roles">
            <h4>Select roles:</h4>
            <p><mat-checkbox [formControlName]="'can_read_users_box'">can_read_users</mat-checkbox></p>
            <p><mat-checkbox [formControlName]="'can_create_users_box'">can_create_users</mat-checkbox></p>
            <p><mat-checkbox [formControlName]="'can_update_users_box'">can_update_users</mat-checkbox></p>
            <p><mat-checkbox [formControlName]="'can_delete_users_box'">can_delete_users</mat-checkbox></p>
        </section>

    </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-raised-button (click)="closeDialog()" cdkFocusInitial color="accent">Ok</button>
</div>
